bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/BaşarsoftStaj/Uploads/
*.DotSettings.user
*.user
/BaşarsoftStaj/appsettings.Development.json
/BaşarsoftStaj/appsettings.json
.idea/
.vs/
frontend/node_modules/
frontend/dist/
.DS_Store
